html, body {
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  overflow: hidden;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul, li {
  list-style: none;
}
.info-container, .no-park-container {
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  display: none;
}
/* .info-container {
  display: none;
} */
.no-park-logo {
  width: 33.3rem; 
  height: 33.3rem;
  background-image: url('../img/noPark@3x.png');
  background-size: cover;
  background-position: 0 0;
  margin: 0 auto;
  margin-top: 39.5rem;
}
.no-park-info {
  font-size: 4.8rem;
  text-align: center;
  margin-top: 7.6rem;
  color: #c0c0c0;
}
.park-info-container {
  width: 100%;
  height: 100%; 
}
.info-container {
  font-size: 4.8rem; 
  margin: 0 auto;
  margin-top: 74px;
  width: 114.2rem;
}
.info-list {
  border: 1px solid #c0c0c0;
  background-color: #ffffff;
}
.footer {
  margin-top: 5.4rem;
  text-align: center;
  color: #454545;
  font-size: 4.8rem;
}
.contact {
  color: #b83e3d
}
.row {
  border-bottom: 1px solid #c0c0c0;
  height: 14rem;
  line-height: 14rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.row:first-of-type {
  height: 23rem;
  line-height: 23rem;
  justify-content: left;
}
.row:last-of-type {
  border: none;
}
.row:first-of-type .name {
  margin-left: 5.4rem;
}
.column {
  display: flex;
  align-items: center;
}
.avatar {
  margin-left: 5rem;
  width: 15.2rem;
  height: 15.2rem;
  background-image: url('../img/avatar@3x.png');
  background-size: cover;
  background-position: 0 0;
}
.logo {
  width: 6.4rem;
  height: 6.4rem;
  margin-left: 5rem;
  background-size: cover;
  background-position: 0 0;
}
.logo.worker-id {
  background-image: url('../img/workerId@3x.png');
}
.logo.car-id {
  background-image: url('../img/carId@3x.png');
}
.logo.time-left {
  background-image: url('../img/timeLeft@3x.png');
}
.item-name {
  margin-left: 4rem;
}
.data {
  margin-right: 3.8rem;
}



